body {
  background-color: #13294b
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #4B9CD3;
  font-size: 6rem;
  position: absolute;
}

@media (max-width: 1920px) {
  h1 {
    top: 27%;
    left: 13%;
  }
}

@media (max-width: 1600px) {
  h1 {
    top: 28%;
    left: 10%;
  }
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: #C4D600;
  font-size: 2rem;
  position: absolute;
}

@media (max-width: 1920px) {
  h3 {
    top: 45%;
    left: 13%;
  }
}

@media (max-width: 1600px) {
  h3 {
    top: 49%;
    left: 10%;
  }
}

button {
	background: #4B9CD3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  border-radius: 9999px;
  padding: 1.5rem 5rem;
  height: auto;
  border: none;
	box-shadow: none;
  position: absolute;
  transition: background-color 0.2s;
}

button:hover{
  background: #24618a; 
}

@media (max-width: 1980px) {
  button {
    top: 52%;
    right: 27%;
  }
}

@media (max-width: 1600px) {
  button {
    top: 57%;
    right: 20%;
  }
}

@media (max-width: 1200px) {
  button {
    align-self: center;
  }
}

input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border-radius: 9999px;
  padding: 1.5rem 5rem;
  height: 8vh;
  width: 20vw;
  border: none;
	box-shadow: none;
  font-size: 45px;
  position: absolute;
  text-align: center;
}

input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  color: #999;
  text-align: center;
}

input:focus {
  outline: none;
}

/* Removes scrollbar from input box */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

@media (max-width: 1920px) {
  input {
    top: 35%;
    right: 19%;
  }
}

@media (max-width: 1600px) {
  input {
    top: 40%;
    right: 13%;
  }
}

@font-face {
  font-family: 'ITC Franklin Gothic';
  src:url('./fonts/itcfranklingothic/ITCFranklinGothicStd-Hvy.otf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf');
}


