body {
  background-color: #13294b
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #4B9CD3;
  font-size: 6rem;
  position: absolute;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  color: #C4D600;
  font-size: 2rem;
  position: absolute;
}

.break-small {
  display: none;
}

button {
	background: #4B9CD3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 20px;
  border-radius: 9999px;
  padding: 1.5rem 5rem;
  height: auto;
  border: none;
	box-shadow: none;
  position: absolute;
  transition: background-color 0.2s;
}

button:hover:not(:disabled){
  background: #24618a; 
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  border-radius: 9999px;
  padding: 1.5rem 5rem;
  height: 8vh;
  width: 20vw;
  border: none;
	box-shadow: none;
  font-size: 45px;
  position: absolute;
  text-align: center;
}

input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 45px;
  color: #999;
  text-align: center;
}

input:focus {
  outline: none;
}

/* Removes scrollbar from input box */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

@media (min-width: 3024px) {
  h1 {
    top: 29%;
    left: 15%;
  }

  h3 {
    top: 43%;
    left: 15%;
  }

  button {
    top: 50%;
    right: 23%;
  }

  input {
    top: 33%;
    right: 15%;
    font-size: 20px;
  }
}

@media (max-width: 1920px) {
  h1 {
    top: 27%;
    left: 13%;
  }

  h3 {
    top: 45%;
    left: 13%;
  }

  button {
    top: 52%;
    right: 27%;
  }

  input {
    top: 35%;
    right: 19%;
  }
}

@media (max-width: 1600px) {
  h1 {
    top: 37%;
    left: 10%;
    margin: 0%;
  }

  h3 {
    top: 50%;
    left: 10%;
  }

  button {
    top: 57%;
    right: 20%;
  }

  input {
    top: 39%;
    right: 13%;
  }
}

@media (max-width: 600px) {
  h1 {
    top: 5%;
    left: 0%;
    text-align: center;
    line-height: 1;
  }

  h3 {
    top: 30%;
    left: 0%;
    text-align: center;
    margin: 30px 20px;
  }

  .break {
    display: none;
  }

  button {
    top: 80%;
    right: 27%;
  }
  
  input {
    top: 65%;
    right: 13%;
    font-size: 20px;
    height: 5vh;
    width: 30vh;
  }

  input::placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #999;
    text-align: center;
  }
}

@font-face {
  font-family: 'ITC Franklin Gothic';
  src:url('./fonts/itcfranklingothic/ITCFranklinGothicStd-Hvy.otf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf');
}


